---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import DashboardWidget from '../components/DashboardWidget.astro';
---

<DefaultLayout title="Dashboard de Operaciones">
  <section>
    <h1>Bienvenido Director General</h1><br>
    <p class="size-20">Aquí está el resumen de operaciones de hoy.</p>
  </section>
  <section class="margin-32">
    <div class="space-content">
      <div class="contents">
        <h2>Indicadores Clave</h2>
        <p id="current-time" class="size-12"></p>
      </div>
      <div class="grid small-grid-1 medium-grid-2 large-grid-3 equal-height">
        <!-- Widgets con datos de Samsara -->
        <DashboardWidget
          number="157"
          title="Vehículos Activos"
          description="Total de vehículos en operación actualmente."
        />
        <DashboardWidget
          number="88%"
          title="Eficiencia de Combustible"
          description="Promedio de eficiencia de combustible de la flota."
        />
        <DashboardWidget
          number="12"
          title="Incidentes Reportados"
          type="warning"
          description="Incidentes de tráfico y técnicos reportados hoy."
        />
        <DashboardWidget
          number="97%"
          title="Uptime de Vehículos"
          description="Porcentaje de tiempo operativo sin fallos técnicos."
        />
        <DashboardWidget
          number="75"
          title="Mantenimientos Pendientes"
          type="error"
          description="Vehículos que requieren mantenimiento pronto."
        />
        <DashboardWidget
          number="+5%"
          title="Productividad de Conductores"
          description="Cambio en la productividad de los conductores comparado con el mes anterior."
        />
        <DashboardWidget
  number="1.2$"
  title="Costo Promedio por Km"
  description="Costo operativo promedio por kilómetro recorrido."
/>
<DashboardWidget
  number="0.03%"
  title="Tasa de Accidentes por Conductor"
  type="error"
  description="Porcentaje de accidentes en relación con el número total de viajes por conductor."
/>
<DashboardWidget
  number="92%"
  title="Satisfacción del Cliente"
  description="Promedio de satisfacción del cliente basado en las últimas encuestas."
/>

        <!-- Espacios adicionales para futuros widgets -->
        <div class="radius-large space-96" style="border: 4px dashed grey;"></div>
        <div class="radius-large space-96" style="border: 4px dashed grey;"></div>
        <div class="radius-large space-96" style="border: 4px dashed grey;"></div>
      </div>
    </div>
  </section>
</DefaultLayout>

<script>
  const date = new Date()
  document.querySelector('#current-time').innerHTML = `<em>${date.toDateString()}</em>`
</script>
