---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import { Media, Modal, Pagination } from 'accessible-astro-components'
---

<DefaultLayout title="Media">
  <section>
    <h1>Media</h1><br>
    <p class="size-20">Lorem ipsum dolor sit amet.</p>
  </section>
  <section class="margin-32">
    <div class="space-content">
      <div class="contents">
        <h2>Visión General de Medios</h2>
        <p><em>Mostrando resultados 1-6 de 24</em></p>
      </div>
      <button id="modal-trigger" class="button color-secondary">Agregar Nuevo Medio</button>
      <Modal
        triggerId="modal-trigger"
        title="Add media"
        closeText="Cancel"
      >
        <p>Utilice este formulario para incluir un nuevo elemento multimedia en la lista. Esto puede ser útil para actualizar contenido visual relevante o documentación necesaria para las operaciones empresariales.</p>
      </Modal>
      <div class="grid small-grid-1 medium-grid-2 large-grid-3 equal-height">
      
        <Media 
        classes="media radius-large elevation-400"
        src="https://unsplash.com/es/fotos/aplicacion-de-software-de-gestion-de-almacenes-en-ordenador-para-el-seguimiento-en-tiempo-real-de-la-entrega-de-paquetes-de-mercancias-pantalla-de-pc-que-muestra-un-panel-de-inventario-inteligente-para-el-almacenamiento-y-la-distribucion-de-la-cadena-de-s-jalQfpmeFbU&auto=format&fit=crop&w=2344&q=80"
      />
        <Media 
          classes="media radius-large elevation-400"
          src="https://unsplash.com/es/fotos/vista-aerea-de-vehiculos-en-zona-de-aparcamiento-oh0DITWoHi4&auto=format&fit=crop&w=1758&q=80"
        />
        <Media 
          classes="media radius-large elevation-400"
          src="https://unsplash.com/es/fotos/un-grupo-de-autobuses-estacionados-dentro-de-una-estacion-de-tren-SGEMdvb-IIw&auto=format&fit=crop&w=1760&q=80"
        />
        <Media 
          classes="media radius-large elevation-400"
          src="https://unsplash.com/es/fotos/conductor-de-carretilla-elevadora-africano-sentado-en-el-cargador-y-conduciendo-durante-el-trabajo-en-una-fabrica-industrial-EStgXrd2B4s&auto=format&fit=crop&w=1760&q=80"
        />
        <Media 
          classes="media radius-large elevation-400"
          src="https://unsplash.com/es/fotos/camion-blanco-en-carretera-gris-durante-el-dia-99HLgU4IHLY&auto=format&fit=crop&w=1402&q=80"
        />
        <Media 
          classes="media radius-large elevation-400"
          src="https://unsplash.com/es/fotos/centro-logistico-automatizado-de-almacen-con-racks-rojos-7MSn3u6O8-M&auto=format&fit=crop&w=1287&q=80"
        />
      </div>
    </div>
    <div class="grid align-horizontal margin-32">
      <Pagination />
    </div>
  </section>
</DefaultLayout>

<style lang="scss" is:global>
  .media {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
  }
</style>
