---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import EmpyState from '../components/EmpyState.astro'
import { Modal } from 'accessible-astro-components'
---

<DefaultLayout title="Comunicados">
  <section>
    <h1>Comunicados Internos</h1><br>
    <p class="size-20">Explora los últimos anuncios y notificaciones importantes para tu equipo.</p>
  </section>
  <section class="margin-32">
    <div class="space-content">
      <h2>Resumen de Mensajes</h2>
      <EmpyState>
        Aún no has agregado ningún comunicado. Empieza por añadir uno nuevo.
      </EmpyState>
      <button id="modal-trigger" class="button color-secondary">Agregar tu primer mensaje</button>
      <Modal
        triggerId="modal-trigger"
        title="Agregar Mensaje"
        closeText="Cancelar"
      >
        <p>Utiliza este formulario para añadir un nuevo mensaje al listado. Puede ser útil para informar sobre cambios en la empresa, anunciar eventos próximos o comunicar políticas actualizadas.</p>
      </Modal>
    </div>
  </section>
</DefaultLayout>

