---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import EmpyState from '../components/EmpyState.astro'
import { Modal } from 'accessible-astro-components'
---
<DefaultLayout title="Gestión de Productos">
  <section>
    <h1>Productos</h1><br>
    <p class="size-20">Visualiza y gestiona la cartera de productos de tu empresa.</p>
  </section>
  <section class="margin-32">
    <div class="space-content">
      <h2>Resumen de Productos</h2>
      <EmpyState>
        Aún no has agregado productos a tu inventario. Comienza por añadir uno nuevo.
      </EmpyState>
      <button id="modal-trigger" class="button color-secondary">Agregar tu primer producto</button>
      <Modal
        triggerId="modal-trigger"
        title="Agregar Producto"
        closeText="Cancelar"
      >
        <p>Utiliza este formulario para incluir un nuevo producto en el sistema. Es ideal para actualizar y expandir la oferta de productos conforme a las necesidades del mercado.</p>
      </Modal>
    </div>
  </section>
</DefaultLayout>
