---
import '../assets/scss/globals.scss'
import Navigation from '../components/Navigation.astro'
import { DarkMode, SkipLinks } from 'accessible-astro-components'
import { Icon } from 'astro-icon'

const {title} = Astro.props
let subtitle = 'WareHouse'
---

<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap" rel="stylesheet">

    <!-- page title -->
    <title>WareHouse</title>
  </head>
  <body>
    <header>
      <!-- SkipLinks para accesibilidad, opcionalmente visible solo en focus -->
      <div style="position: absolute; left: -1000px;">
        <a href="#main-content">Saltar al contenido principal</a>
      </div>
    </header>
    <div class="ui-controls">
      <!-- Botón para alternar el modo oscuro -->
      <button onclick="toggleDarkMode()">Modo Oscuro</button>
    </div>
    <div class="admin-interface">
      <nav>
        <ul>
          <li class="menu-item">
            <a href="/">
              <img src="/icons/home.svg" alt="Inicio" /> 
              <span>Inicio</span>
            </a>
          </li>
          <li class="menu-item">
            <a href="/performance/">
              <img src="/icons/performance.svg" alt="Rendimiento" />
              <span>Rendimiento</span>
            </a>
          </li>
          <li class="menu-item">
            <a href="/ventas/">
              <img src="/icons/sales.svg" alt="Ventas" />
              <span>Ventas</span>
            </a>
          </li>
          <li class="menu-item">
            <a href="/operaciones/">
              <img src="/icons/operations.svg" alt="Operaciones" />
              <span>Operaciones</span>
            </a>
          </li>
          <li class="menu-item">
            <a href="/contactos/">
              <img src="/icons/contacts.svg" alt="Contactos" />
              <span>Contactos</span>
            </a>
          </li>
        </ul>
      </nav>    
      <main id="main-content">
        <!-- Contenido principal aquí -->
        <h1>Bienvenido al WareHouse by GestPro</h1>
        <p>Aquí encontrará una vista rápida de los KPIs más importantes.</p>
      </main>
    </div>
  </body>
</html>


<script>
  let isLoggedIn = await localStorage.getItem('isLoggedIn')

  if (isLoggedIn === null) {
    window.location.href = '/login'
  }
</script>

<style lang="scss">
  @use '../assets/scss/base/breakpoint' as *;

  .ui-controls {
    position: absolute;
    top: 1rem;
    right: 3.5rem;

    @include breakpoint(medium) {
      right: 1.15rem;
    }
  }

  .admin-interface {
    @include breakpoint(medium) {
      display: grid;
      grid-template-columns: 1fr auto;
    }

    main {
      padding: 2rem;

      @include breakpoint(medium) {
        margin-left: 60px;
        padding: 6rem;
      }
    }
  }
</style>

<style lang="scss" is:global>
  @use "../assets/scss/base/breakpoint" as *;
  @use "../assets/scss/base/outline" as *;

  .darkmode-toggle {
    padding: 0;
    border: none;

    svg {
      width: 25px;

      @include breakpoint(medium) {
        width: 30px;
        
        path {
          fill: var(--secondary-500);
        }
      }
    
      path {
        transition: fill 0.2s ease-in-out;
      }
    }

    &:hover {
      svg path {
        fill: var(--primary-400);
      }
    }

    &:focus {
      @include outline;
    }
  }

  .darkmode .darkmode-toggle {
    svg path {
      fill: var(--secondary-100);
    }

    &:hover {
      svg path {
        fill: var(--primary-400);
      }
    }
  }
</style>
